extends layout

block content
  h1= title
  p Welcome to Vandy's technical demo 
  p First things first...
  p  run: 'npm i' from the api & client subdirs
  p Secondly for same subdirs...
  p  run: 'npm audit fix' if need be then 'npm audit fix --force'
  p Lastly please 
  p  run: 'npm start'

